*{
    margin: 0;
    font-family: 'Encode Sans SC';
    padding: 0;
}
html{
    font-size: 10px;
}
nav{
    width: 100%;
    height: 5.563rem;
}
.main-navbar{
    height: 100%;
    max-width: 192rem;
    background:  linear-gradient(90deg, #0c0a0a 76.5%, #741D1D 23.5%);;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
    padding-top: 0.5%;
}
.links-section {
    width: 80%; 
    padding-left: 39%;
}
.links-section ul{
    display: flex;
    /* width: 738px; */
    justify-content: space-between;
}
.logo{
    width: 20%;
}
.logo h1{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color:rgba(116, 29, 29, 1) ;
}
.links-section li{
    list-style: none;
}
.links-section li a{
    color:rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.home-section{
    width: 100%;
    display: flex;
    margin: 0 auto;
    height: 100vh;
}
.intro-section{
    width: 75%;
    background-color: #0c0a0a;
    padding-left: 6%;
    height: 100%;
    padding-top: 14%;
}
.intro-section h1{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color:rgba(116, 29, 29, 1) ;
    
}
.intro-section h2{
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    color: #741D1D;
    padding-top: 6%;
}
#bodydesc {
    color: #FFFFFF;
    padding-top: 5%;
    color:rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 400;
    margin-top: 31px;
    font-size: 19px;
    width: 44%;
}
.side-bar{
    /* height: 100%; */
    width: 25%;
    background-color: #741D1D;
}
.btn-mobile-nav{
    border:none;
    background: none;
    cursor: pointer;
    display: none;

}
.icon-mobile-nav{
    height: 4.8rem;
    width: 4.8rem;
    color:#fff;
}
.icon-mobile-nav[name="close-outline"]
{    display: none;
}

    
.about {
    width: 100%;
    /* height: 720px; */
    background: rgba(47, 47, 47, 1);
    /* max-width: 145rem; */
    margin: 0 auto;
    /* padding: 0 5rem; */
    padding-top: 10px;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    /* background-color: aquamarine; */
    align-items: center;
    position: relative;
    /* flex-wrap: wrap; */
}
.about-tag {
    position: absolute;
    top: -5%;
    margin-left: -17px;
    
}
.about-tag h2{
    border-radius: 25px;
    color: #FFFFFF;
    width: 399%;
    background-color: #741D1D;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    /* border: 1px; */
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.pic-part{
    width: 100%;
}
.pic-part img{
    margin-top: 6%;
    height: 30rem;
    width: 55%;
    margin-left: 20%;
}
.desc-part h3{
    font-family: 'Encode Sans SC';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 66px;
    margin-left: 10px;
}
.line {
   width: 28%;
    border: 2px solid #741D1D;
    background:#741D1D ;
    margin-left: 2px;
}
.para{
    margin-top: 117px;
    width: 74%;
}

.para p {
    /* width: 620px; */
    height: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    text-align: center; 
    color: #FFFFFF;
}
.para #p2 {
    /* width: 620px; */
    height: 125px;
    padding-top: 61px;
    font-family: 'Encode Sans SC';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 45px;
}
.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 1.2rem 3rem;
    border-radius: 25px;
    font-family: 'Encode Sans SC';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
/* #btn1:hover {
    background: #080808;
} */
.btn-hire{
    background-color: #741D1D;
    margin-right: 3rem;
    margin-left: 6rem;
}
.btn-download{
    background-color: transparent;
    box-sizing: border-box;
    border: 3px solid #741D1D;
    padding-left: 30px;
    padding-right: 30px;

}
